
.DS_Store

/log/*
!/log/.keep
/tmp
/.bundle
/.livereload
/.sass-cache/
/.yardoc/
/db/*.sqlite3
/db/schema.rb
/db/schema.sql
/*.tmproj
/public/system/*
/public/assets/*
/vendor/bundle/
/tmp/cache/*
/tmp/capybara/*
/tmp/data/*
/coverage
/*.sublime-project
/*.sublime-workspace
/config/database.yml
/config/application.yml
.env
